<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.mds" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>mds</name><js-module name="mds" src="www/mds.js"><clobbers target="cordova.plugins.mds" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="mds"><param name="android-package" value="cordova.plugin.mds.mds" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/mds.java" target-dir="src/cordova/plugin/mds/mds" /><lib-file src="src/android/emj.jar" target-dir="src/cordova/plugin/mds/mds"/></platform></plugin>